
.banner-section{
    margin-top: -20px;
    width:100%;
    padding: var(--pad);
}
.banner-img{
    width: 100%;   
}
.banner-img img{
    width: 100%;   
    aspect-ratio: 341/147;
    object-fit: cover;
    border-radius: 30px;
}
.owl-dots{
    display: none;
}