.wrapper {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    overflow-y: scroll;
    background: var(--bg-clr);
}
.wrapper-overlay{
    transition: all .4s ease-in-out;
}
.wrapper-overlay-active{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .5;
    z-index: 10;
}

.header{
    padding: var(--pad);
    position: relative;
}
.back{
    font-size: 15px;
    font-weight: 300;
    color: #514F4F;

}
.title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    font-size: 19px;
    font-weight: 500;
}

.main{
    padding: var(--pad); 
}
.checkout-field{
    padding: 10px 20px;
    box-shadow: 0px 0px 2.53px 0px #00000061;
    border-radius: 15px;
    background: #fff;
}
.checkout-data{
    margin-bottom: 10px;
}
.checkout-field h3{
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 10px;
}
.checkout-field p{
    font-size: 13px;
    font-weight: 500;
}
.payment-section{
    margin-top: 20px;
}
.circle1{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid var(--main-clr);
}
.circle2{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    
}
.payment-choose{
    background: var(--main-clr);
}

.delivery-address{
    margin-top: 20px;
}
.addAddress i ,.addAddress p ,.editAddress p{
    color: var(--main-clr);
}
.checkout-title{
    color: #514F4F;
}


/* address data fill */

.address-data-fill{
    position: fixed;
    width: 100%;
    bottom: -100%;
    opacity: 0;
    padding: var(--pad);
    background: #fff;
    border-radius: 10px 10px 0px 0px;
    z-index: 11;
    transition: all .4s ease-in-out;
}
.add-data-active{
    opacity: 1;
    bottom: 0;
}
.address-cover{
    position: relative;
}
.cancel-address-cover{
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translate(-50% ,-50%);
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: #000;
    color: #fff;
}

.input-field {
    padding: 10px 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 1px 8px -1px #32324727;
    color: #A8AFB9;
    font-size: 16px;
    margin-bottom: 15px;
}

.input-field i {
    font-size: 20px;
}

.input-field input {
    background: transparent;
    width: 100%;
    padding: 2px;
    border: none;
    outline: none;
}

.input-field input::placeholder {
    color: #A8AFB9;
    font-weight: 600;
}
.btn button{
    margin-top: 10px;
    width: 100%;
    padding: 10px 16px;
    font-size: 17px;
    font-weight: 500;
    border: none;
    outline: none;
    color: #fff;
    background: var(--main-clr);
    border-radius: 10px;
    transition: all .2s ease-in-out;
    cursor: pointer;
}
.btn button:hover{
   scale: .9;
}

.checkout-btn {
    padding: var(--pad);
    width: 100%;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.checkout-btn button {
    width: 100%;
    padding: 12px 16px;
    background: var(--main-clr);
    color: #fff;
    font-family: Be Vietnam Pro;
    font-size: 14px;
    font-weight: 500;
    border: none;
    outline: none;
    border-radius: 8px;
}