/* seller category header */

.sellerCategory-header {
    padding: var(--pad);
    box-shadow: 0px 1.18px 4.71px 0px #00000040;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
    background: #fff;

}

.cat-name {
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
}

.main {
    display: flex;
    width: 100%;
}




/* right side section */

.rightside {
    width: 100%;
    padding-left: 20%;
  
    padding-top: 62px;
    padding-bottom: 60px;
    background: var(--bg-clr);

}
.top-category{
    padding: 10px;
    margin-bottom: 10px;
   
}
.topCat-header p{
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
}
.topCatGrid{
    gap: 5%;
    align-items: flex-start;
    /* gap: 14px; */
}
.catbox{
    width: 30%;
}
.catbox p{
    font-size: 12px;
    text-align: center;
}
.catbox img{
    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    box-shadow: 0px 3px 15px #0000002b;
    object-fit: contain;

}




/* left section */
.leftside {
    width: 20%;
    min-height: calc(100vh);
    max-height: calc(100vh);
    overflow-y: scroll;
    box-shadow: 0px 1.18px 4.71px 0px #00000040;
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0;
    padding-top: 80px;
    padding-bottom: 60px;
    background: #fff;
}

.leftside::-webkit-scrollbar {
    width: 0px;
}

.subcategory-box {
    width: 100%;
    position: relative;
}

.sub-box {
    width: 90%;
    min-width: 90%;
}

.sub-box-img {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background: var(--bg3-clr);
    padding: 10px;
}

.sub-box-img img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: contain;
}

.sub-cat-name {
    font-size: 10px;
    width: 100%;
    text-wrap: wrap;
    text-align: center;
}


.subcatactive-div{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background: transparent;
    width: 4px;
    border-radius: 12px 0px 0px 12px;
}
.subcatactive {
    background: #0EB96B;
}